.card-container {
  display: flex;
  flex-wrap: wrap; /* para que bajen de línea si no caben */
  gap: 16px; /* espacio entre cards */
  justify-content: center; /* opcional: centra horizontalmente */
}

.card_usuario {
  width: 300px; /* puedes ajustar este ancho */
}
