<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de usuarios</h1>
  </div>

  <div class="search-bar">
    <p>Cantidad de registros: {{ usDataSource.data.length }}</p>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Buscar usuario</mat-label>
        <input
          matInput
          placeholder="Ej. conductor o admin"
          [(ngModel)]="usFiltro"
          (ngModelChange)="usAplicarFiltro()"
          name="filtroUsuario"
        />
      </mat-form-field>
    </form>
  </div>

  <div class="card-container">
    <mat-card
      class="card_usuario"
      appearance="outlined"
      *ngFor="let element of usDataSource.filteredData"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="'https://randomuser.me/api/portraits/lego/' + element.id + '.jpg'"
          alt="Avatar"
        />
        <mat-card-title>{{ element.username }}</mat-card-title>
        <mat-card-subtitle>
  {{ element.roles && element.roles.length > 0 ? element.roles[0].rol : 'Sin rol' }}
</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>ID:</strong> {{ element.id }}</p>
        <p><strong>Password:</strong> {{ element.password }}</p>
        <p><strong>Estado:</strong> {{ element.enabled ? 'Activo' : 'Inactivo' }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="primary" [routerLink]="['actualizaciones', element.id]">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-stroked-button color="warn" (click)="eliminar(element.id)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    [length]="usDataSource.filteredData.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
