@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

.container {
  padding: 16px;
}

h1 {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.estado-radio {
  margin-top: 16px;
}

button {
  font-weight: bold;
}
