<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>{{ edicion ? 'Actualizar' : 'Registrar' }} Usuario</h1>
  </div>

  <div style="margin: 5%;">
    <form [formGroup]="usuarioForm" (ngSubmit)="aceptar()">

      <mat-form-field *ngIf="edicion" appearance="outline" class="full-width">
        <mat-label>ID</mat-label>
        <input matInput [value]="usuarioId" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput placeholder="Ej. camisamorada" formControlName="username" />
        <mat-error *ngIf="usuarioForm.get('username')?.hasError('required')">
          El nombre es obligatorio.
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('username')?.hasError('minlength')">
          Debe tener al menos 4 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="usuarioForm.get('password')?.hasError('required')">
          La contraseña es obligatoria.
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('password')?.hasError('minlength')">
          Debe tener al menos 6 caracteres.
        </mat-error>
      </mat-form-field>

      <div class="estado-radio" style="margin-top:10px;">
        <label>Estado del usuario:</label>
        <mat-radio-group formControlName="enabled">
          <mat-radio-button [value]="true">Activo</mat-radio-button>
          <mat-radio-button [value]="false">Inactivo</mat-radio-button>
        </mat-radio-group>
      </div>

      <div style="text-align: center; margin-top: 20px;">
        <button mat-raised-button color="primary" type="submit">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
      </div>
    </form>
  </div>
</div>
