<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Lista de buses</h1>
  </div>
  <div style="text-align: center; margin: 5%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="bus1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idBus }}</td>
      </ng-container>

      <!-- Arrival Address Column -->
      <ng-container matColumnDef="bus2">
        <th mat-header-cell *matHeaderCellDef>Dirección de llegada</th>
        <td mat-cell *matCellDef="let element">{{ element.arrivalAddressBus }}</td>
      </ng-container>

      <!-- Capacity Column -->
      <ng-container matColumnDef="bus3">
        <th mat-header-cell *matHeaderCellDef>Capacidad</th>
        <td mat-cell *matCellDef="let element">{{ element.capacityBus }}</td>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="bus4">
        <th mat-header-cell *matHeaderCellDef>Duración</th>
        <td mat-cell *matCellDef="let element">{{ element.durationBus }}</td>
      </ng-container>

      <!-- Viaje (anidado) Column -->
      <ng-container matColumnDef="bus5">
        <th mat-header-cell *matHeaderCellDef>Viaje</th>
        <td mat-cell *matCellDef="let element">{{ element.viaje.idViaje }}</td>
      </ng-container>

       <ng-container matColumnDef="bus6">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['actualizaciones',element.idBus]" >
             <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="bus7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idBus)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
