
<mat-toolbar class="custom-toolbar">
    <!-- HOME -->
  <button mat-button [matMenuTriggerFor]="menuHome" class="btn-rojo">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <!-- USUARIO -->
  <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-rojo">
    <mat-icon>person</mat-icon>
    Usuario
  </button>

  <!-- PAGO -->
  <button mat-button [matMenuTriggerFor]="menuPago" class="btn-rojo">
    <mat-icon>attach_money</mat-icon>
    Pago
  </button>

  <!-- ITEM -->
  <button mat-button [matMenuTriggerFor]="menuItem" class="btn-rojo">
    <mat-icon>list</mat-icon>
    Item
  </button>
  <!-- Resenia -->
  <button mat-button [matMenuTriggerFor]="menuResenia" class="btn-rojo">
    <mat-icon>assignment</mat-icon>
    Resenia
  </button>
  <!-- ROL -->
  <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo">
    <mat-icon>admin_panel_settings</mat-icon>
    Rol
  </button>

  <!-- ESTADO -->
  <button mat-button [matMenuTriggerFor]="menuEstado" class="btn-rojo">
    <mat-icon>flag</mat-icon>
    Estado
  </button>

  <!-- VIAJE -->
  <button mat-button [matMenuTriggerFor]="menuViaje" class="btn-rojo">
    <mat-icon>commute</mat-icon>
    Viaje
  </button>

  <!-- BUS -->
  <button mat-button [matMenuTriggerFor]="menuBus" class="btn-rojo">
    <mat-icon>directions_bus</mat-icon>
    Bus
  </button>
</mat-toolbar>

<!-- MENU USUARIO -->
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/rutaUsuario">Listar</button>
  <button mat-menu-item routerLink="/rutaUsuario/insertar">Insertar</button>
</mat-menu>
<!-- MENU HOME -->
<mat-menu #menuHome="matMenu">
  <button mat-menu-item routerLink="/rutaUsuario">Listar</button>
</mat-menu>

<!-- MENU PAGO -->
<mat-menu #menuPago="matMenu">
  <button mat-menu-item routerLink="/rutaPago">Listar</button>
  <button mat-menu-item routerLink="/rutaPago/insertar">Insertar</button>
</mat-menu>

<!-- MENU ITEM -->
<mat-menu #menuItem="matMenu">
  <button mat-menu-item routerLink="/rutaItem">Listar</button>
  <button mat-menu-item routerLink="/rutaItem/insertar">Insertar</button>
</mat-menu>
<!-- MENU RESENIA -->
<mat-menu #menuResenia="matMenu">
  <button mat-menu-item routerLink="/rutaResenia">Listar</button>
  <button mat-menu-item routerLink="/rutaResenia/insertar">Insertar</button>
</mat-menu>

<!-- MENU ROL -->
<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/rutaRol">Listar</button>
  <button mat-menu-item routerLink="/rutaRol/insertar">Insertar</button>
</mat-menu>

<!-- MENU ESTADO -->
<mat-menu #menuEstado="matMenu">
  <button mat-menu-item routerLink="/rutaEstado">Listar</button>
  <button mat-menu-item routerLink="/rutaEstado/insertar">Insertar</button>
</mat-menu>

<!-- MENU VIAJE -->
<mat-menu #menuViaje="matMenu">
  <button mat-menu-item routerLink="/rutaViaje">Listar</button>
  <button mat-menu-item routerLink="/rutaViaje/insertar">Insertar</button>
</mat-menu>

<!-- MENU BUS -->
<mat-menu #menuBus="matMenu">
  <button mat-menu-item routerLink="/rutaBus/listar">Listar</button>
</mat-menu>

<section class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>¡Visita a los mejores lugares del Perú!</h1>
      <p class="quote">
        "Explora Perú como nunca antes: seguro, cómodo y a tu ritmo"
      </p>
      <p class="subtitle">
        Reserva tu próxima aventura desde Lima hacia destinos inolvidables.
      </p>
      <button class="cta">TRAZA TU RUTA</button>
    </div>
    <!-- si quieres colocar el bus encima del fondo, descomenta esta línea -->
    <!-- <img src="assets/images/bus.png" alt="Bus Peruvian Transport" class="bus"> -->
  </div>
</section>

