<div class="container">
  <div style="text-align: center; margin: 5%;">
    <h1>Lista de Reseñas</h1>
  </div>

  <div class="search-bar" style="margin: 20px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <p style="margin: 0;">Cantidad de registros: {{ resDataSource.data.length }}</p>
      <mat-form-field appearance="outline">
        <mat-label>Buscar reseña</mat-label>
        <input
          matInput
          placeholder="Ej. comentario o usuario"
          [(ngModel)]="resFiltro"
          (ngModelChange)="resAplicarFiltro()"
          name="filtroResenia"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="card-container" >
    <mat-card
      class="card_resenia"
      appearance="outlined"
      *ngFor="let element of resDataSource.filteredData "
      
    >
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          [style.background-image]="'url(https://randomuser.me/api/portraits/lego/' + element.usuario.id + '.jpg)'"
        ></div>
        <mat-card-title>{{ element.usuario.username }}</mat-card-title>
        <mat-card-subtitle>{{ element.publicationDateResenia }}</mat-card-subtitle>
      </mat-card-header>

      <img
        mat-card-image
        src="assets/images/loki.jpg"
        alt="Foto del perrito"
      />

      <mat-card-content>
        <p>{{ element.contentResenia }}</p>
        <p><strong>Destino del viaje:</strong> {{ element.viaje.idViaje }}</p>
        <p><strong>Likes:</strong> {{ element.likesResenia }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="sumarLike(element)">
          <mat-icon>thumb_up</mat-icon> Like
        </button>
        <button mat-stroked-button color="primary" [routerLink]="['actualizaciones', element.idResenia]">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-stroked-button color="warn" (click)="eliminar(element.idResenia)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    [length]="resDataSource.filteredData.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    showFirstLastButtons
    aria-label="Seleccionar página"
  
  >
  </mat-paginator>
</div>
