<div class="container">
    <div style="text-align: center; margin: 5%;">
      <h1>{{ edicion ? 'Actualizar' : 'Registrar' }} Item</h1>
    </div>
  
    <div style="margin: 5%;">
      <form [formGroup]="form" (ngSubmit)="aceptar()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" />
          <mat-error *ngIf="form.get('id')?.hasError('required')">
            El título es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Rol</mat-label>
          <input matInput formControlName="rol" />
          <mat-error *ngIf="form.get('rol')?.hasError('required')">
            El título es obligatorio.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuario</mat-label>
          <textarea matInput formControlName="usuario" rows="4"></textarea>
          <mat-error *ngIf="form.get('usuario.id')?.hasError('required')">
            La descripción es obligatoria.
          </mat-error>
        </mat-form-field>
  
  
        <div style="text-align: center; margin-top: 20px;">
          <button mat-raised-button color="primary" type="submit">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  
