<mat-toolbar class="custom-toolbar">
    <!-- HOME -->
  <button mat-button class="btn-rojo" [routerLink]="['/home']">
  <mat-icon>home</mat-icon>
  Home
</button>

  <!-- USUARIO -->
  <button mat-button [matMenuTriggerFor]="menuUsuario" class="btn-rojo">
    <mat-icon>person</mat-icon>
    Usuario
  </button>

  <!-- PAGO -->
  <button mat-button [matMenuTriggerFor]="menuPago" class="btn-rojo">
    <mat-icon>attach_money</mat-icon>
    Pago
  </button>

  <!-- ITEM -->
  <button mat-button [matMenuTriggerFor]="menuItem" class="btn-rojo">
    <mat-icon>list</mat-icon>
    Item
  </button>
 <!-- RESENIA -->
  <button mat-button [matMenuTriggerFor]="menuResenia" class="btn-rojo">
    <mat-icon>list</mat-icon>
    Resenia
  </button>
  <!-- ROL -->
  <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo">
    <mat-icon>admin_panel_settings</mat-icon>
    Rol
  </button>

  <!-- ESTADO -->
  <button mat-button [matMenuTriggerFor]="menuEstado" class="btn-rojo">
    <mat-icon>flag</mat-icon>
    Estado
  </button>

  <!-- VIAJE -->
  <button mat-button [matMenuTriggerFor]="menuViaje" class="btn-rojo">
    <mat-icon>commute</mat-icon>
    Viaje
  </button>

  <!-- BUS -->
  <button mat-button [matMenuTriggerFor]="menuBus" class="btn-rojo">
    <mat-icon>directions_bus</mat-icon>
    Bus
  </button>

  <!-- ASIENTO -->
  <button mat-button [matMenuTriggerFor]="menuAsiento" class="btn-rojo">
        <mat-icon>event_seat</mat-icon>
       Asiento
  </button>

  <!-- REPORTES -->
  <button mat-button [matMenuTriggerFor]="menuReportes" class="btn-rojo">
        <mat-icon>library_books</mat-icon>
       Reportes
  </button>

  <!-- EXIT -->
  <button mat-button [routerLink]="['/login']" class="btn-rojo exit-btn">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesión
  </button>
</mat-toolbar>

<!-- MENU USUARIO -->
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/rutaUsuario">Listar</button>
  <button mat-menu-item routerLink="/rutaUsuario/insertar">Insertar</button>
</mat-menu>


<!-- MENU PAGO -->
<mat-menu #menuPago="matMenu">
  <button mat-menu-item routerLink="/rutaPago">Listar</button>
  <button mat-menu-item routerLink="/rutaPago/insertar">Insertar</button>
</mat-menu>

<!-- MENU ITEM -->
<mat-menu #menuItem="matMenu">
  <button mat-menu-item routerLink="/rutaItem">Listar</button>
  <button mat-menu-item routerLink="/rutaItem/insertar">Insertar</button>
</mat-menu>
<!-- MENU RESENIA -->
<mat-menu #menuResenia="matMenu">
  <button mat-menu-item routerLink="/rutaResenia">Listar</button>
  <button mat-menu-item routerLink="/rutaResenia/insertar">Insertar</button>
</mat-menu>

<!-- MENU ROL -->
<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/rutaRol">Listar</button>
  <button mat-menu-item routerLink="/rutaRol/insertar">Insertar</button>
</mat-menu>

<!-- MENU ESTADO -->
<mat-menu #menuEstado="matMenu">
  <button mat-menu-item routerLink="/rutaEstado">Listar</button>
  <button mat-menu-item routerLink="/rutaEstado/insertar">Insertar</button>
</mat-menu>

<!-- MENU VIAJE -->
<mat-menu #menuViaje="matMenu">
  <button mat-menu-item routerLink="/rutaViaje">Listar</button>
  <button mat-menu-item routerLink="/rutaViaje/insertar">Insertar</button>
</mat-menu>

<!-- MENU BUS -->
<mat-menu #menuBus="matMenu">
  <button mat-menu-item routerLink="/rutaBus/listar">Listar</button>
</mat-menu>

<!-- MENU ASIENTO -->
<mat-menu #menuAsiento="matMenu">
  <button mat-menu-item routerLink="/rutaAsiento">Listar</button>
   <button mat-menu-item routerLink="/rutaAsiento/insertar">Insertar</button>
</mat-menu>

<!-- MENU REPORTES -->
<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/rutareportes">Reporte Viaje Por Ruta</button>
  <button mat-menu-item routerLink="/rutareportes/userbyrol">Reporte Usuario por Rol</button>
 </mat-menu>